In [ ]:
# Column Transformer

In [1]:
import numpy as np
import pandas as pd

from sklearn.impute import SimpleImputer# for filling missing values
from sklearn.preprocessing import OneHotEncoder#for encoding
from sklearn.preprocessing import OrdinalEncoder#for encoding

In [2]:
df=pd.read_csv('/content/covid_toy - covid_toy.csv')

In [3]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [4]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [5]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(df.drop(
    columns=['has_covid']),df['has_covid'],test_size=0.2)

In [6]:
x_train

    age  gender  fever   cough       city
59    6  Female  104.0    Mild    Kolkata
21   73    Male   98.0    Mild  Bangalore
32   34  Female  101.0  Strong      Delhi
70   68  Female  101.0  Strong      Delhi
86   25    Male  104.0    Mild  Bangalore
..  ...     ...    ...     ...        ...
98    5  Female   98.0  Strong     Mumbai
12   25  Female   99.0  Strong    Kolkata
16   69  Female  103.0    Mild    Kolkata
45   72    Male   99.0    Mild  Bangalore
66   51    Male  104.0    Mild    Kolkata

[80 rows x 5 columns]

In [10]:
si=SimpleImputer(strategy='mean')
x_train_fever=si.fit_transform(x_train[['fever']])

x_test_fever=si.fit_transform(x_test[['fever']])
x_train_fever.shape

(80, 1)

In [13]:
oe=OrdinalEncoder(categories=[['Mild','Strong']])
x_train_cough=oe.fit_transform(x_train[['cough']])

x_test_cough=oe.fit_transform(x_test[['cough']])
x_train_cough.shape

(80, 1)

In [14]:
ohe=OneHotEncoder(drop='first',sparse_output=False)
x_train_gender_city=ohe.fit_transform(x_train[['gender','city']])

x_test_gender_city=ohe.fit_transform(x_test[['gender','city']])
x_train_gender_city.shape

(80, 4)

In [15]:
x_train_age=x_train.drop(columns=
                         ['gender','fever','cough','city']).values

x_test_age=x_test.drop(columns=
                       ['gender','fever','cough','city']).values

In [16]:
x_train_age.shape

(80, 1)

In [20]:
x_train_transformed=np.concatenate((x_train_age,x_train_fever,
                                    x_train_gender_city,
                                    x_train_cough),axis=1)

In [22]:
from sklearn.compose import ColumnTransformer

transformer=ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
     ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [23]:
transformer.fit_transform(x_train).shape

(80, 7)

In [38]:
df=pd.read_csv('/content/insurance - insurance.csv')

In [39]:
df.head(2)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523

In [40]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [41]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(df.drop(
    columns=['charges']),df['charges'],test_size=0.2)

In [42]:
from sklearn.compose import ColumnTransformer

transformer=ColumnTransformer(transformers=[
    ('tnf1',OrdinalEncoder(categories=[['yes','no']]),['smoker']),
     ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['sex','region'])
],remainder='passthrough')

In [43]:
transformer.fit_transform(x_train).shape

(1070, 8)