In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('/content/Churn_Modelling - Churn_Modelling.csv')

In [11]:
df.head()

,RowNumber,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,850,2,0,43,2,125510.82,1,1,1,79084.10,0

In [5]:
df.isna().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [7]:
df=df.drop(columns=['Surname'])

In [9]:
df['Geography']=df['Geography'].map({'France':0,'Germany':1,'Spain':2})

In [10]:
df['Gender']=df['Gender'].map({'Female':0,'Male':1})

In [13]:
x=df.drop(columns=['Exited'])
x.shape

(10000, 12)

In [14]:
y=df['Exited']
y.shape

(10000,)

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,
                                               random_state=11)

In [18]:
from sklearn.preprocessing import MinMaxScaler

In [20]:
mn=MinMaxScaler()

In [22]:
x_train_mn=mn.fit_transform(x_train)

In [23]:
x_train_new=pd.DataFrame(x_train_mn,columns=x_train.columns)

In [24]:
np.round(x_train_new.describe(),2)

,RowNumber,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
count,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00
mean,0.50,0.50,0.60,0.37,0.55,0.28,0.50,0.34,0.18,0.71,0.52,0.50
std,0.29,0.29,0.19,0.41,0.50,0.14,0.29,0.28,0.19,0.46,0.50,0.29
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.25,0.25,0.47,0.00,0.00,0.19,0.30,0.00,0.00,0.00,0.00,0.26
50%,0.50,0.50,0.60,0.00,1.00,0.26,0.50,0.44,0.00,1.00,1.00,0.50
75%,0.75,0.75,0.74,0.50,1.00,0.35,0.70,0.57,0.33,1.00,1.00,0.74
max,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

In [54]:
df=pd.read_csv('/content/Attrition - Attrition.csv')

In [89]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,0,1102,1,1,2,1,1,2,...,1,80,0,8,0,1,6,4,0,5
1,49,0,1,279,2,8,1,1,2,3,...,4,80,1,10,3,3,10,7,1,7
2,37,1,0,1373,2,2,2,1,4,4,...,2,80,0,7,3,3,0,0,0,0
3,33,0,1,1392,2,3,4,1,5,4,...,3,80,0,8,3,3,8,7,3,0
4,27,0,0,591,2,2,1,1,7,1,...,4,80,1,6,3,3,2,2,2,2

In [56]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [46]:
df.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [57]:
df['Attrition']=df['Attrition'].map({'No':0,'Yes':1})

In [59]:
df['BusinessTravel']=df['BusinessTravel'].map({'Travel_Rarely':0,'Travel_Frequently':1,
                          'Non-Travel':2})

In [61]:
df['Department']=df['Department'].map({'Human Resources':0,'Sales':1,'Research & Development':2})

In [63]:
df=df.drop(columns=['EducationField'])

In [66]:
df['Gender']=df['Gender'].map({'Male':0,'Female':1})

In [73]:
df['MaritalStatus']=df['MaritalStatus'].map({'Divorced':0,'Single':1,'Married':2})

In [75]:
df['Over18']=df['Over18'].map({'Y':1})

In [78]:
df['OverTime']=df['OverTime'].map({'No':0,'Yes':1})

In [85]:
df=df.drop(columns=['JobRole'])

In [88]:
df.select_dtypes(include='object')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[1470 rows x 0 columns]

In [93]:
x=df.drop(columns=['Attrition'])
x.shape

(1470, 32)

In [95]:
y=df['Attrition']
y.shape

(1470,)

In [96]:
x_train,x_test,y_train,y_test=train_test_split(x,y,
                                               test_size=0.2,
                                               random_state=11)

In [98]:
mn=MinMaxScaler()

In [99]:
x_train_mn=mn.fit_transform(x_train)

In [100]:
x_train_new=pd.DataFrame(x_train_mn,columns=x_train.columns)

In [101]:
np.round(x_train_new.describe(),2)

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1176.00,1176.00,1176.00,1176.00,1176.00,1176.00,1176.0,1176.00,1176.00,1176.00,...,1176.00,1176.0,1176.00,1176.00,1176.00,1176.00,1176.00,1176.00,1176.00,1176.00
mean,0.45,0.20,0.50,0.81,0.29,0.48,0.0,0.50,0.57,0.40,...,0.57,0.0,0.26,0.28,0.46,0.59,0.17,0.23,0.14,0.24
std,0.22,0.33,0.29,0.28,0.29,0.26,0.0,0.29,0.36,0.49,...,0.36,0.0,0.29,0.20,0.21,0.23,0.15,0.20,0.21,0.21
min,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,...,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.29,0.00,0.25,0.50,0.04,0.25,0.0,0.24,0.33,0.00,...,0.33,0.0,0.00,0.15,0.33,0.33,0.08,0.11,0.00,0.12
50%,0.43,0.00,0.51,1.00,0.21,0.50,0.0,0.50,0.67,0.00,...,0.67,0.0,0.33,0.25,0.50,0.67,0.12,0.17,0.07,0.18
75%,0.60,0.50,0.76,1.00,0.46,0.75,0.0,0.75,1.00,1.00,...,1.00,0.0,0.33,0.38,0.50,0.67,0.22,0.39,0.13,0.41
max,1.00,1.00,1.00,1.00,1.00,1.00,0.0,1.00,1.00,1.00,...,1.00,0.0,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

In [102]:
df=pd.read_csv('/content/Churn_Modelling - Churn_Modelling.csv')

In [104]:
from sklearn.preprocessing import LabelEncoder

In [105]:
lb=LabelEncoder()

In [108]:
df['Surname']=lb.fit_transform(df['Surname'])

In [115]:
df.head(2)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,1115,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,1177,608,2,0,41,1,83807.86,1,0,1,112542.58,0

In [112]:
df['Geography'].value_counts()

Geography
0    5014
1    2509
2    2477
Name: count, dtype: int64

In [111]:
df['Geography']=lb.fit_transform(df['Geography'])

In [114]:
df['Gender']=lb.fit_transform(df['Gender'])

In [116]:
df['Gender'].value_counts()

Gender
1    5457
0    4543
Name: count, dtype: int64

In [117]:
df.select_dtypes(include='object')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[10000 rows x 0 columns]

In [118]:
df.shape

(10000, 14)

In [119]:
x=df.drop(columns=['Exited'])
x.shape

(10000, 13)

In [120]:
y=df['Exited']
y.shape

(10000,)

In [121]:
x_train,x_test,y_train,y_test=train_test_split(x,y,
                                               test_size=0.2,
                                               random_state=13)

In [122]:
mn=MinMaxScaler()

In [124]:
x_train_mn=mn.fit_transform(x_train)

In [126]:
x_train_new=pd.DataFrame(x_train_mn,columns=x_train.columns)

In [127]:
np.round(x_train_new.describe(),2)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
count,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00
mean,0.50,0.50,0.52,0.60,0.37,0.54,0.28,0.50,0.32,0.18,0.71,0.51,0.50
std,0.29,0.29,0.29,0.19,0.41,0.50,0.14,0.29,0.26,0.19,0.45,0.50,0.29
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.25,0.25,0.27,0.47,0.00,0.00,0.19,0.20,0.00,0.00,0.00,0.00,0.25
50%,0.50,0.50,0.53,0.60,0.00,1.00,0.26,0.50,0.41,0.00,1.00,1.00,0.50
75%,0.75,0.75,0.77,0.74,0.50,1.00,0.35,0.70,0.54,0.33,1.00,1.00,0.75
max,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00