In [18]:
#section A
import pandas as pd

df = pd.read_csv('/content/Titanic-Dataset (1).csv')

In [2]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [5]:
df.shape

(891, 12)

In [6]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [7]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [9]:
#section B
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [22]:
df=df.drop(columns=['Cabin'])

In [23]:
df['Age']=df['Age'].fillna(df['Age'].mean())

In [91]:
df['Embarked']=df['Embarked'].fillna(df['Embarked'].mode()[0])

In [33]:
df[['Age','Embarked']].isna().sum()

Age         0
Embarked    0
dtype: int64

In [35]:
df=df.drop_duplicates()

In [38]:
#sectioon C
df['Sex']=df['Sex'].map({'male':0,'female':1})

In [42]:
df['Embarked']=df['Embarked'].astype('category')

In [44]:
df['FamilySize']=df['SibSp']+df['Parch']+1

In [56]:
df.rename(columns={'Pclass':'PassengerClass'},inplace=True)

In [61]:
df['Fare']=df['Fare'].astype(int)

In [62]:
#section D
df[df['Survived']==1]

,PassengerId,Survived,PassengerClass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71,C,2
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53,S,2
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1,27.0,0,2,347742,11,S,3
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",1,14.0,1,0,237736,30,C,2
...,...,...,...,...,...,...,...,...,...,...,...,...
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",1,15.0,0,0,2667,7,C,1
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,56.0,0,1,11767,83,C,2
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",1,25.0,0,1,230433,26,S,2
887,888,1,1,"Graham, Miss. Margaret Edith",1,19.0,0,0,112053,30,S,1
889,890,1,1,"Behr, Mr. Karl Howell",0,26.0,0,0,111369,30,C,1

In [64]:
df[df['PassengerClass']==1]

,PassengerId,Survived,PassengerClass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71,C,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53,S,2
6,7,0,1,"McCarthy, Mr. Timothy J",0,54.0,0,0,17463,51,S,1
11,12,1,1,"Bonnell, Miss. Elizabeth",1,58.0,0,0,113783,26,S,1
23,24,1,1,"Sloper, Mr. William Thompson",0,28.0,0,0,113788,35,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,47.0,1,1,11751,52,S,3
872,873,0,1,"Carlsson, Mr. Frans Olof",0,33.0,0,0,695,5,S,1
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,56.0,0,1,11767,83,C,2
887,888,1,1,"Graham, Miss. Margaret Edith",1,19.0,0,0,112053,30,S,1
889,890,1,1,"Behr, Mr. Karl Howell",0,26.0,0,0,111369,30,C,1

In [65]:
df[df['Age']>50]

,PassengerId,Survived,PassengerClass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize
6,7,0,1,"McCarthy, Mr. Timothy J",0,54.0,0,0,17463,51,S,1
11,12,1,1,"Bonnell, Miss. Elizabeth",1,58.0,0,0,113783,26,S,1
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",1,55.0,0,0,248706,16,S,1
33,34,0,2,"Wheadon, Mr. Edward H",0,66.0,0,0,C.A. 24579,10,S,1
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",0,65.0,0,1,113509,61,C,2
...,...,...,...,...,...,...,...,...,...,...,...,...
820,821,1,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",1,52.0,1,1,12749,93,S,3
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",1,62.0,0,0,113572,80,S,1
851,852,0,3,"Svensson, Mr. Johan",0,74.0,0,0,347060,7,S,1
857,858,1,1,"Daly, Mr. Peter Denis",0,51.0,0,0,113055,26,S,1
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,56.0,0,1,11767,83,C,2

In [70]:
df[(df['Sex']==1) & (df['Survived']==1)]

,PassengerId,Survived,PassengerClass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71,C,2
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53,S,2
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1,27.0,0,2,347742,11,S,3
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",1,14.0,1,0,237736,30,C,2
...,...,...,...,...,...,...,...,...,...,...,...,...
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",1,28.0,1,0,P/PP 3381,24,C,2
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",1,15.0,0,0,2667,7,C,1
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,56.0,0,1,11767,83,C,2
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",1,25.0,0,1,230433,26,S,2
887,888,1,1,"Graham, Miss. Margaret Edith",1,19.0,0,0,112053,30,S,1

In [72]:
df[df['Fare']>df['Fare'].mean()]

,PassengerId,Survived,PassengerClass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.000000,1,0,PC 17599,71,C,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.000000,1,0,113803,53,S,2
6,7,0,1,"McCarthy, Mr. Timothy J",0,54.000000,0,0,17463,51,S,1
23,24,1,1,"Sloper, Mr. William Thompson",0,28.000000,0,0,113788,35,S,1
27,28,0,1,"Fortune, Mr. Charles Alexander",0,19.000000,3,2,19950,263,S,6
...,...,...,...,...,...,...,...,...,...,...,...,...
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",1,45.000000,1,1,36928,164,S,3
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",1,29.699118,8,2,CA. 2343,69,S,11
867,868,0,1,"Roebling, Mr. Washington Augustus II",0,31.000000,0,0,PC 17590,50,S,1
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,47.000000,1,1,11751,52,S,3
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,56.000000,0,1,11767,83,C,2

In [73]:
df[['Name','Sex','Age','Survived']]

,Name,Sex,Age,Survived
0,"Braund, Mr. Owen Harris",0,22.000000,0
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.000000,1
2,"Heikkinen, Miss. Laina",1,26.000000,1
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.000000,1
4,"Allen, Mr. William Henry",0,35.000000,0
...,...,...,...,...
886,"Montvila, Rev. Juozas",0,27.000000,0
887,"Graham, Miss. Margaret Edith",1,19.000000,1
888,"Johnston, Miss. Catherine Helen ""Carrie""",1,29.699118,0
889,"Behr, Mr. Karl Howell",0,26.000000,1
890,"Dooley, Mr. Patrick",0,32.000000,0

In [74]:
df.loc[100:150]

,PassengerId,Survived,PassengerClass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize
100,101,0,3,"Petranec, Miss. Matilda",1,28.000000,0,0,349245,7,S,1
101,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",0,29.699118,0,0,349215,7,S,1
102,103,0,1,"White, Mr. Richard Frasar",0,21.000000,0,1,35281,77,S,2
103,104,0,3,"Johansson, Mr. Gustaf Joel",0,33.000000,0,0,7540,8,S,1
104,105,0,3,"Gustafsson, Mr. Anders Vilhelm",0,37.000000,2,0,3101276,7,S,3
105,106,0,3,"Mionoff, Mr. Stoytcho",0,28.000000,0,0,349207,7,S,1
106,107,1,3,"Salkjelsvik, Miss. Anna Kristine",1,21.000000,0,0,343120,7,S,1
107,108,1,3,"Moss, Mr. Albert Johan",0,29.699118,0,0,312991,7,S,1
108,109,0,3,"Rekic, Mr. Tido",0,38.000000,0,0,349249,7,S,1
109,110,1,3,"Moran, Miss. Bertha",1,29.699118,1,0,371110,24,Q,2
110,111,0,1,"Porter, Mr. Walter Chamberlain",0,47.000000,0,0,110465,52,S,1
111,112,0,3,"Zabour, Miss. Hileni",1,14.500000,1,0,2665,14,C,2
112,113,0,3,"Barton, Mr. David John",0,22.000000,0,0,324669,8,S,1
113,114,0,3,"Jussila, Miss. Katriina",1,20.000000,1,0,4136,9,S,2
114,115,0,3,"Attalah, Miss. Malake",1,17.000000,0,0,2627,14,C,1
115,116,0,3,"Pekoniemi, Mr. Edvard",0,21.000000,0,0,STON/O 2. 3101294,7,S,1
116,117,0,3,"Connors, Mr. Patrick",0,70.500000,0,0,370369,7,Q,1
117,118,0,2,"Turpin, Mr. William John Robert",0,29.000000,1,0,11668,21,S,2
118,119,0,1,"Baxter, Mr. Quigg Edmond",0,24.000000,0,1,PC 17558,247,C,2
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",1,2.000000,4,2,347082,31,S,7
120,121,0,2,"Hickman, Mr. Stanley George",0,21.000000,2,0,S.O.C. 14879,73,S,3
121,122,0,3,"Moore, Mr. Leonard Charles",0,29.699118,0,0,A4. 54510,8,S,1
122,123,0,2,"Nasser, Mr. Nicholas",0,32.500000,1,0,237736,30,C,2
123,124,1,2,"Webber, Miss. Susan",1,32.500000,0,0,27267,13,S,1
124,125,0,1,"White, Mr. Percival Wayland",0,54.000000,0,1,35281,77,S,2
125,126,1,3,"Nicola-Yarred, Master. Elias",0,12.000000,1,0,2651,11,C,2
126,127,0,3,"McMahon, Mr. Martin",0,29.699118,0,0,370372,7,Q,1
127,128,1,3,"Madsen, Mr. Fridtjof Arne",0,24.000000,0,0,C 17369,7,S,1
128,129,1,3,"Peter, Miss. Anna",1,29.699118,1,1,2668,22,C,3
129,130,0,3,"Ekstrom, Mr. Johan",0,45.000000,0,0,347061,6,S,1
130,131,0,3,"Drazenoic, Mr. Jozef",0,33.000000,0,0,349241,7,C,1
131,132,0,3,"Coelho, Mr. Domingos Fernandeo",0,20.000000,0,0,SOTON/O.Q. 3101307,7,S,1
132,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",1,47.000000,1,0,A/5. 3337,14,S,2
133,134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",1,29.000000,1,0,228414,26,S,2
134,135,0,2,"Sobey, Mr. Samuel James Hayden",0,25.000000,0,0,C.A. 29178,13,S,1
135,136,0,2,"Richard, Mr. Emile",0,23.000000,0,0,SC/PARIS 2133,15,C,1
136,137,1,1,"Newsom, Miss. Helen Monypeny",1,19.000000,0,2,11752,26,S,3
137,138,0,1,"Futrelle, Mr. Jacques Heath",0,37.000000,1,0,113803,53,S,2
138,139,0,3,"Osen, Mr. Olaf Elon",0,16.000000,0,0,7534,9,S,1
139,140,0,1,"Giglio, Mr. Victor",0,24.000000,0,0,PC 17593,79,C,1
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",1,29.699118,0,2,2678,15,C,3
141,142,1,3,"Nysten, Miss. Anna Sofia",1,22.000000,0,0,347081,7,S,1
142,143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",1,24.000000,1,0,STON/O2. 3101279,15,S,2
143,144,0,3,"Burke, Mr. Jeremiah",0,19.000000,0,0,365222,6,Q,1
144,145,0,2,"Andrew, Mr. Edgardo Samuel",0,18.000000,0,0,231945,11,S,1
145,146,0,2,"Nicholls, Mr. Joseph Charles",0,19.000000,1,1,C.A. 33112,36,S,3
146,147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",0,27.000000,0,0,350043,7,S,1
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",1,9.000000,2,2,W./C. 6608,34,S,5
148,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",0,36.500000,0,2,230080,26,S,3
149,150,0,2,"Byles, Rev. Thomas Roussel Davids",0,42.000000,0,0,244310,13,S,1
150,151,0,2,"Bateman, Rev. Robert James",0,51.000000,0,0,S.O.P. 1166,12,S,1

In [75]:
df.iloc[:10,:6]

,PassengerId,Survived,PassengerClass,Name,Sex,Age
0,1,0,3,"Braund, Mr. Owen Harris",0,22.000000
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.000000
2,3,1,3,"Heikkinen, Miss. Laina",1,26.000000
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.000000
4,5,0,3,"Allen, Mr. William Henry",0,35.000000
5,6,0,3,"Moran, Mr. James",0,29.699118
6,7,0,1,"McCarthy, Mr. Timothy J",0,54.000000
7,8,0,3,"Palsson, Master. Gosta Leonard",0,2.000000
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1,27.000000
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",1,14.000000

In [77]:
#section E
df.sort_values(by='Fare',ascending=False)

,PassengerId,Survived,PassengerClass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize
737,738,1,1,"Lesurer, Mr. Gustave J",0,35.000000,0,0,PC 17755,512,C,1
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",0,36.000000,0,1,PC 17755,512,C,2
258,259,1,1,"Ward, Miss. Anna",1,35.000000,0,0,PC 17755,512,C,1
438,439,0,1,"Fortune, Mr. Mark",0,64.000000,1,4,19950,263,S,6
341,342,1,1,"Fortune, Miss. Alice Elizabeth",1,24.000000,3,2,19950,263,S,6
...,...,...,...,...,...,...,...,...,...,...,...,...
277,278,0,2,"Parkes, Mr. Francis ""Frank""",0,29.699118,0,0,239853,0,S,1
597,598,0,3,"Johnson, Mr. Alfred",0,49.000000,0,0,LINE,0,S,1
466,467,0,2,"Campbell, Mr. William",0,29.699118,0,0,239853,0,S,1
481,482,0,2,"Frost, Mr. Anthony Wood ""Archie""",0,29.699118,0,0,239854,0,S,1
413,414,0,2,"Cunningham, Mr. Alfred Fleming",0,29.699118,0,0,239853,0,S,1

In [79]:
df.sort_values(by=['PassengerClass','Fare'],ascending=False)

,PassengerId,Survived,PassengerClass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize
159,160,0,3,"Sage, Master. Thomas Henry",0,29.699118,8,2,CA. 2343,69,S,11
180,181,0,3,"Sage, Miss. Constance Gladys",1,29.699118,8,2,CA. 2343,69,S,11
201,202,0,3,"Sage, Mr. Frederick",0,29.699118,8,2,CA. 2343,69,S,11
324,325,0,3,"Sage, Mr. George John Jr",0,29.699118,8,2,CA. 2343,69,S,11
792,793,0,3,"Sage, Miss. Stella Anna",1,29.699118,8,2,CA. 2343,69,S,11
...,...,...,...,...,...,...,...,...,...,...,...,...
263,264,0,1,"Harrison, Mr. William",0,40.000000,0,0,112059,0,S,1
633,634,0,1,"Parr, Mr. William Henry Marsh",0,29.699118,0,0,112052,0,S,1
806,807,0,1,"Andrews, Mr. Thomas Jr",0,39.000000,0,0,112050,0,S,1
815,816,0,1,"Fry, Mr. Richard",0,29.699118,0,0,112058,0,S,1
822,823,0,1,"Reuchlin, Jonkheer. John George",0,38.000000,0,0,19972,0,S,1

In [80]:
df['Age'].mean()

np.float64(29.69911764705882)

In [81]:
df.groupby('PassengerClass')['Fare'].mean()

PassengerClass
1    83.745370
2    20.456522
3    13.173116
Name: Fare, dtype: float64

In [84]:
df['Embarked'].value_counts()

Embarked
S    646
C    168
Q     77
Name: count, dtype: int64

In [85]:
df['Sex'].value_counts()

Sex
0    577
1    314
Name: count, dtype: int64

In [100]:
#section F
x=df.groupby('PassengerClass').agg({'Age':mean,'Fare':mean,'Survived':mean})

/tmp/ipython-input-3285274314.py:2: FutureWarning: The provided callable <function mean at 0x7f0ae5df7880> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  x=df.groupby('PassengerClass').agg({'Age':mean,'Fare':mean,'Survived':mean})

In [90]:
df.groupby('Sex')['Survived'].mean()

Sex
0    0.188908
1    0.742038
Name: Survived, dtype: float64

In [97]:
def x(age):
  if age<12:
    return 'Child'
  elif age<60:
    return 'Adult'
  else:
    return 'Senior'

df['AgeGroup']=df['Age'].apply(x)

In [98]:
df['AgeGroup'].value_counts()

AgeGroup
Adult     797
Child      68
Senior     26
Name: count, dtype: int64

In [102]:
x.reset_index()

   PassengerClass        Age       Fare  Survived
0               1  37.048118  83.745370  0.629630
1               2  29.866958  20.456522  0.472826
2               3  26.403259  13.173116  0.242363

In [105]:
#section G
df[df['Fare']==df['Fare'].max()]

,PassengerId,Survived,PassengerClass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize,AgeGroup
258,259,1,1,"Ward, Miss. Anna",1,35.0,0,0,PC 17755,512,C,1,Adult
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",0,36.0,0,1,PC 17755,512,C,2,Adult
737,738,1,1,"Lesurer, Mr. Gustave J",0,35.0,0,0,PC 17755,512,C,1,Adult

In [120]:
df['Embarked'].value_counts().head(1)

Embarked
S    646
Name: count, dtype: int64

In [122]:
df.to_csv('Titanic_Cleaned.csv.')