In [ ]:
import pandas as pd
df=pd.read_csv('/content/ai_impact_student_performance_dataset.csv')
df.head() #returns first 5 rows

,student_id,age,gender,grade_level,study_hours_per_day,uses_ai,ai_usage_time_minutes,ai_tools_used,ai_usage_purpose,ai_dependency_score,...,concept_understanding_score,study_consistency_index,improvement_rate,sleep_hours,social_media_hours,tutoring_hours,class_participation_score,final_score,passed,performance_category
0,1,20,Female,1st Year,2.5,1,170,NaN,Exam Prep,10,...,4,9.0,8.1,7.2,1.5,4.6,6,36.8,0,Low
1,2,17,Male,12th,3.4,1,123,NaN,Notes,4,...,8,8.5,13.8,7.6,5.1,2.7,6,65.5,1,Medium
2,3,24,Male,3rd Year,0.8,0,35,Copilot,Doubt Solving,8,...,7,2.1,39.1,5.7,0.2,4.0,3,66.3,1,Medium
3,4,21,Female,12th,4.4,0,45,ChatGPT+Gemini,Notes,3,...,5,6.7,25.2,8.2,4.2,2.9,2,69.5,1,Medium
4,5,18,Other,3rd Year,3.5,1,21,ChatGPT+Gemini,Coding,2,...,5,5.4,2.7,8.7,0.2,2.9,2,49.7,1,Low

In [ ]:
df.tail()#returns last 5 rows

,student_id,age,gender,grade_level,study_hours_per_day,uses_ai,ai_usage_time_minutes,ai_tools_used,ai_usage_purpose,ai_dependency_score,...,concept_understanding_score,study_consistency_index,improvement_rate,sleep_hours,social_media_hours,tutoring_hours,class_participation_score,final_score,passed,performance_category
7995,7996,23,Male,3rd Year,3.0,0,178,Gemini,NaN,6,...,5,8.1,19.2,8.3,1.9,1.0,10,49.7,1,Low
7996,7997,21,Other,1st Year,3.3,0,63,Claude,Exam Prep,10,...,6,5.7,3.0,5.0,1.3,2.9,5,58.4,1,Medium
7997,7998,24,Male,3rd Year,1.6,0,113,ChatGPT,Coding,5,...,6,4.5,-18.0,5.0,3.5,0.1,9,69.1,1,Medium
7998,7999,22,Female,2nd Year,5.5,0,21,Copilot,Coding,5,...,8,3.4,-19.1,4.7,5.9,0.4,7,49.2,1,Low
7999,8000,15,Male,12th,4.6,0,42,NaN,NaN,9,...,6,9.7,-4.9,9.0,2.9,2.1,5,69.7,1,Medium

In [ ]:
df.shape#returns total rows and columns

(8000, 26)

In [ ]:
df.size#returns total elements(rows*columns)

208000

In [ ]:
df.columns#returns list of all columns

Index(['student_id', 'age', 'gender', 'grade_level', 'study_hours_per_day',
       'uses_ai', 'ai_usage_time_minutes', 'ai_tools_used', 'ai_usage_purpose',
       'ai_dependency_score', 'ai_generated_content_percentage',
       'ai_prompts_per_week', 'ai_ethics_score', 'last_exam_score',
       'assignment_scores_avg', 'attendance_percentage',
       'concept_understanding_score', 'study_consistency_index',
       'improvement_rate', 'sleep_hours', 'social_media_hours',
       'tutoring_hours', 'class_participation_score', 'final_score', 'passed',
       'performance_category'],
      dtype='object')

In [ ]:
df.dtypes#shows the data type of each column

student_id                           int64
age                                  int64
gender                              object
grade_level                         object
study_hours_per_day                float64
uses_ai                              int64
ai_usage_time_minutes                int64
ai_tools_used                       object
ai_usage_purpose                    object
ai_dependency_score                  int64
ai_generated_content_percentage      int64
ai_prompts_per_week                  int64
ai_ethics_score                      int64
last_exam_score                      int64
assignment_scores_avg              float64
attendance_percentage              float64
concept_understanding_score          int64
study_consistency_index            float64
improvement_rate                   float64
sleep_hours                        float64
social_media_hours                 float64
tutoring_hours                     float64
class_participation_score            int64
final_score                        float64
passed                               int64
performance_category                object
dtype: object

In [ ]:
df.isna().sum()#isna()-returns null values in boolean form sum()-used to add the null values and returns

student_id                            0
age                                   0
gender                                0
grade_level                           0
study_hours_per_day                   0
uses_ai                               0
ai_usage_time_minutes                 0
ai_tools_used                      1362
ai_usage_purpose                   1346
ai_dependency_score                   0
ai_generated_content_percentage       0
ai_prompts_per_week                   0
ai_ethics_score                       0
last_exam_score                       0
assignment_scores_avg                 0
attendance_percentage                 0
concept_understanding_score           0
study_consistency_index               0
improvement_rate                      0
sleep_hours                           0
social_media_hours                    0
tutoring_hours                        0
class_participation_score             0
final_score                           0
passed                                0
performance_category                  0
dtype: int64

In [ ]:
df['age']#accessing a column
df[['student_id', 'age', 'gender', 'grade_level']]#accessing multiple columns

      student_id  age  gender grade_level
0              1   20  Female    1st Year
1              2   17    Male        12th
2              3   24    Male    3rd Year
3              4   21  Female        12th
4              5   18   Other    3rd Year
...          ...  ...     ...         ...
7995        7996   23    Male    3rd Year
7996        7997   21   Other    1st Year
7997        7998   24    Male    3rd Year
7998        7999   22  Female    2nd Year
7999        8000   15    Male        12th

[8000 rows x 4 columns]

In [ ]:
df['gender'].value_counts()#counts the unique values in a column

gender
Male      3908
Female    3811
Other      281
Name: count, dtype: int64

In [ ]:
df['grade_level'].unique()#returns distinct value

array(['1st Year', '12th', '3rd Year', '10th', '11th', '2nd Year'],
      dtype=object)

In [ ]:
df['ai_ethics_score'].value_counts()
df[df['ai_ethics_score']>5]#filtering based on score > 5

,student_id,age,gender,grade_level,study_hours_per_day,uses_ai,ai_usage_time_minutes,ai_tools_used,ai_usage_purpose,ai_dependency_score,...,concept_understanding_score,study_consistency_index,improvement_rate,sleep_hours,social_media_hours,tutoring_hours,class_participation_score,final_score,passed,performance_category
3,4,21,Female,12th,4.4,0,45,ChatGPT+Gemini,Notes,3,...,5,6.7,25.2,8.2,4.2,2.9,2,69.5,1,Medium
4,5,18,Other,3rd Year,3.5,1,21,ChatGPT+Gemini,Coding,2,...,5,5.4,2.7,8.7,0.2,2.9,2,49.7,1,Low
5,6,20,Male,1st Year,5.1,1,34,Copilot,Coding,10,...,9,8.0,13.4,5.5,3.7,2.1,4,77.9,1,High
7,8,16,Male,3rd Year,5.5,0,174,ChatGPT,Homework,4,...,6,4.3,13.2,6.0,0.4,2.5,6,52.7,1,Medium
8,9,20,Female,10th,6.0,1,32,Copilot,NaN,9,...,9,7.8,18.8,5.4,1.6,4.2,4,81.7,1,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7992,7993,18,Female,3rd Year,3.4,1,164,NaN,Exam Prep,10,...,8,5.1,28.3,7.3,2.2,3.5,4,73.5,1,Medium
7994,7995,23,Male,11th,3.5,1,39,ChatGPT,Homework,4,...,5,2.1,32.4,5.1,3.6,4.3,2,39.8,0,Low
7995,7996,23,Male,3rd Year,3.0,0,178,Gemini,NaN,6,...,5,8.1,19.2,8.3,1.9,1.0,10,49.7,1,Low
7997,7998,24,Male,3rd Year,1.6,0,113,ChatGPT,Coding,5,...,6,4.5,-18.0,5.0,3.5,0.1,9,69.1,1,Medium
7998,7999,22,Female,2nd Year,5.5,0,21,Copilot,Coding,5,...,8,3.4,-19.1,4.7,5.9,0.4,7,49.2,1,Low

In [ ]:
df['final_score']
df[df['final_score']>60]#filtering score > 60

,student_id,age,gender,grade_level,study_hours_per_day,uses_ai,ai_usage_time_minutes,ai_tools_used,ai_usage_purpose,ai_dependency_score,...,concept_understanding_score,study_consistency_index,improvement_rate,sleep_hours,social_media_hours,tutoring_hours,class_participation_score,final_score,passed,performance_category
1,2,17,Male,12th,3.4,1,123,NaN,Notes,4,...,8,8.5,13.8,7.6,5.1,2.7,6,65.5,1,Medium
2,3,24,Male,3rd Year,0.8,0,35,Copilot,Doubt Solving,8,...,7,2.1,39.1,5.7,0.2,4.0,3,66.3,1,Medium
3,4,21,Female,12th,4.4,0,45,ChatGPT+Gemini,Notes,3,...,5,6.7,25.2,8.2,4.2,2.9,2,69.5,1,Medium
5,6,20,Male,1st Year,5.1,1,34,Copilot,Coding,10,...,9,8.0,13.4,5.5,3.7,2.1,4,77.9,1,High
6,7,23,Female,1st Year,2.0,1,112,ChatGPT+Gemini,NaN,8,...,9,9.6,3.7,5.8,1.6,3.4,5,82.2,1,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7986,7987,22,Male,1st Year,4.2,1,168,Copilot,Doubt Solving,5,...,9,6.3,31.3,7.5,1.7,3.9,8,63.2,1,Medium
7987,7988,15,Male,12th,2.2,1,127,Copilot,Coding,2,...,8,1.3,-1.6,6.6,0.7,1.4,2,83.7,1,High
7992,7993,18,Female,3rd Year,3.4,1,164,NaN,Exam Prep,10,...,8,5.1,28.3,7.3,2.2,3.5,4,73.5,1,Medium
7997,7998,24,Male,3rd Year,1.6,0,113,ChatGPT,Coding,5,...,6,4.5,-18.0,5.0,3.5,0.1,9,69.1,1,Medium
7999,8000,15,Male,12th,4.6,0,42,NaN,NaN,9,...,6,9.7,-4.9,9.0,2.9,2.1,5,69.7,1,Medium

In [ ]:
df['passed']
df[df['passed']==1]#filtering the passed students and displaying the record

,student_id,age,gender,grade_level,study_hours_per_day,uses_ai,ai_usage_time_minutes,ai_tools_used,ai_usage_purpose,ai_dependency_score,...,concept_understanding_score,study_consistency_index,improvement_rate,sleep_hours,social_media_hours,tutoring_hours,class_participation_score,final_score,passed,performance_category
1,2,17,Male,12th,3.4,1,123,NaN,Notes,4,...,8,8.5,13.8,7.6,5.1,2.7,6,65.5,1,Medium
2,3,24,Male,3rd Year,0.8,0,35,Copilot,Doubt Solving,8,...,7,2.1,39.1,5.7,0.2,4.0,3,66.3,1,Medium
3,4,21,Female,12th,4.4,0,45,ChatGPT+Gemini,Notes,3,...,5,6.7,25.2,8.2,4.2,2.9,2,69.5,1,Medium
4,5,18,Other,3rd Year,3.5,1,21,ChatGPT+Gemini,Coding,2,...,5,5.4,2.7,8.7,0.2,2.9,2,49.7,1,Low
5,6,20,Male,1st Year,5.1,1,34,Copilot,Coding,10,...,9,8.0,13.4,5.5,3.7,2.1,4,77.9,1,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,7996,23,Male,3rd Year,3.0,0,178,Gemini,NaN,6,...,5,8.1,19.2,8.3,1.9,1.0,10,49.7,1,Low
7996,7997,21,Other,1st Year,3.3,0,63,Claude,Exam Prep,10,...,6,5.7,3.0,5.0,1.3,2.9,5,58.4,1,Medium
7997,7998,24,Male,3rd Year,1.6,0,113,ChatGPT,Coding,5,...,6,4.5,-18.0,5.0,3.5,0.1,9,69.1,1,Medium
7998,7999,22,Female,2nd Year,5.5,0,21,Copilot,Coding,5,...,8,3.4,-19.1,4.7,5.9,0.4,7,49.2,1,Low
7999,8000,15,Male,12th,4.6,0,42,NaN,NaN,9,...,6,9.7,-4.9,9.0,2.9,2.1,5,69.7,1,Medium

In [ ]:
df['study_hours_per_day']
df[df['study_hours_per_day']>4]

,student_id,age,gender,grade_level,study_hours_per_day,uses_ai,ai_usage_time_minutes,ai_tools_used,ai_usage_purpose,ai_dependency_score,...,concept_understanding_score,study_consistency_index,improvement_rate,sleep_hours,social_media_hours,tutoring_hours,class_participation_score,final_score,passed,performance_category
3,4,21,Female,12th,4.4,0,45,ChatGPT+Gemini,Notes,3,...,5,6.7,25.2,8.2,4.2,2.9,2,69.5,1,Medium
5,6,20,Male,1st Year,5.1,1,34,Copilot,Coding,10,...,9,8.0,13.4,5.5,3.7,2.1,4,77.9,1,High
7,8,16,Male,3rd Year,5.5,0,174,ChatGPT,Homework,4,...,6,4.3,13.2,6.0,0.4,2.5,6,52.7,1,Medium
8,9,20,Female,10th,6.0,1,32,Copilot,NaN,9,...,9,7.8,18.8,5.4,1.6,4.2,4,81.7,1,High
9,10,24,Female,1st Year,5.6,0,140,NaN,Doubt Solving,3,...,7,2.9,38.5,7.2,0.7,4.6,1,66.7,1,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7989,7990,22,Male,10th,5.0,1,92,Claude,Homework,8,...,5,5.0,23.2,6.9,3.7,0.2,7,43.9,1,Low
7990,7991,15,Male,11th,5.9,1,15,NaN,Doubt Solving,5,...,2,8.0,-9.6,5.4,1.9,3.3,8,31.7,0,Low
7991,7992,15,Female,10th,4.8,0,36,Gemini,Notes,8,...,7,3.1,3.4,7.7,3.2,3.6,10,53.4,1,Medium
7998,7999,22,Female,2nd Year,5.5,0,21,Copilot,Coding,5,...,8,3.4,-19.1,4.7,5.9,0.4,7,49.2,1,Low
7999,8000,15,Male,12th,4.6,0,42,NaN,NaN,9,...,6,9.7,-4.9,9.0,2.9,2.1,5,69.7,1,Medium

In [ ]:
df['uses_ai']
df['uses_ai'].value_counts()

uses_ai
1    5128
0    2872
Name: count, dtype: int64

In [ ]:
df.groupby('grade_level')['last_exam_score'].mean()#use group by on grade_level to calculate the avg. score

grade_level
10th        59.623512
11th        58.918413
12th        60.044663
1st Year    59.777286
2nd Year    59.055004
3rd Year    59.580960
Name: last_exam_score, dtype: float64

In [ ]:
df['performance_category']
df['performance_category'].value_counts()

performance_category
Medium    4705
Low       2542
High       753
Name: count, dtype: int64

In [ ]:
df.iloc[0:5]

,student_id,age,gender,grade_level,study_hours_per_day,uses_ai,ai_usage_time_minutes,ai_tools_used,ai_usage_purpose,ai_dependency_score,...,concept_understanding_score,study_consistency_index,improvement_rate,sleep_hours,social_media_hours,tutoring_hours,class_participation_score,final_score,passed,performance_category
0,1,20,Female,1st Year,2.5,1,170,NaN,Exam Prep,10,...,4,9.0,8.1,7.2,1.5,4.6,6,36.8,0,Low
1,2,17,Male,12th,3.4,1,123,NaN,Notes,4,...,8,8.5,13.8,7.6,5.1,2.7,6,65.5,1,Medium
2,3,24,Male,3rd Year,0.8,0,35,Copilot,Doubt Solving,8,...,7,2.1,39.1,5.7,0.2,4.0,3,66.3,1,Medium
3,4,21,Female,12th,4.4,0,45,ChatGPT+Gemini,Notes,3,...,5,6.7,25.2,8.2,4.2,2.9,2,69.5,1,Medium
4,5,18,Other,3rd Year,3.5,1,21,ChatGPT+Gemini,Coding,2,...,5,5.4,2.7,8.7,0.2,2.9,2,49.7,1,Low

In [ ]:
df.iloc[-3:]

,student_id,age,gender,grade_level,study_hours_per_day,uses_ai,ai_usage_time_minutes,ai_tools_used,ai_usage_purpose,ai_dependency_score,...,concept_understanding_score,study_consistency_index,improvement_rate,sleep_hours,social_media_hours,tutoring_hours,class_participation_score,final_score,passed,performance_category
7997,7998,24,Male,3rd Year,1.6,0,113,ChatGPT,Coding,5,...,6,4.5,-18.0,5.0,3.5,0.1,9,69.1,1,Medium
7998,7999,22,Female,2nd Year,5.5,0,21,Copilot,Coding,5,...,8,3.4,-19.1,4.7,5.9,0.4,7,49.2,1,Low
7999,8000,15,Male,12th,4.6,0,42,NaN,NaN,9,...,6,9.7,-4.9,9.0,2.9,2.1,5,69.7,1,Medium

In [ ]:
df.iloc[10:21]

,student_id,age,gender,grade_level,study_hours_per_day,uses_ai,ai_usage_time_minutes,ai_tools_used,ai_usage_purpose,ai_dependency_score,...,concept_understanding_score,study_consistency_index,improvement_rate,sleep_hours,social_media_hours,tutoring_hours,class_participation_score,final_score,passed,performance_category
10,11,24,Female,10th,4.8,1,55,Copilot,Homework,9,...,6,4.8,23.9,8.5,1.3,2.5,8,54.3,1,Medium
11,12,21,Male,10th,5.0,0,66,Copilot,Homework,10,...,2,7.5,21.8,6.1,4.1,1.3,4,50.7,1,Medium
12,13,18,Female,3rd Year,3.7,1,12,ChatGPT+Gemini,Coding,6,...,3,1.8,-14.2,4.9,5.0,2.2,10,44.5,1,Low
13,14,17,Female,10th,1.5,1,49,Copilot,Coding,5,...,9,8.8,-0.8,5.0,2.6,3.5,3,62.0,1,Medium
14,15,21,Male,10th,4.2,1,27,Gemini,NaN,2,...,1,9.3,-3.2,7.6,2.5,2.5,8,56.7,1,Medium
15,16,21,Male,11th,4.4,0,103,Gemini,Doubt Solving,6,...,7,8.8,-14.0,7.7,2.8,2.0,8,66.2,1,Medium
16,17,16,Male,12th,5.9,1,97,ChatGPT,Coding,4,...,1,1.0,32.3,6.4,2.8,0.1,8,48.0,1,Low
17,18,19,Male,10th,3.5,1,95,Copilot,Doubt Solving,5,...,10,8.2,28.8,7.8,1.4,0.9,3,90.6,1,High
18,19,18,Female,12th,2.0,0,86,Copilot,Notes,6,...,7,9.1,27.4,6.6,5.9,4.2,7,64.9,1,Medium
19,20,15,Male,10th,4.3,1,87,NaN,NaN,7,...,8,9.9,-9.4,5.5,4.0,3.8,8,61.2,1,Medium
20,21,21,Male,12th,5.9,1,151,ChatGPT+Gemini,Exam Prep,4,...,3,1.3,16.0,4.7,4.6,0.4,4,57.0,1,Medium

In [ ]:
df.iloc[:,[1,15,23]]

      age  attendance_percentage  final_score
0      20                   98.8         36.8
1      17                   89.3         65.5
2      24                   50.8         66.3
3      21                   52.1         69.5
4      18                   40.7         49.7
...   ...                    ...          ...
7995   23                   72.6         49.7
7996   21                   46.7         58.4
7997   24                   73.7         69.1
7998   22                   56.8         49.2
7999   15                   56.7         69.7

[8000 rows x 3 columns]

In [ ]:
df.loc[df['attendance_percentage']>90]

,student_id,age,gender,grade_level,study_hours_per_day,uses_ai,ai_usage_time_minutes,ai_tools_used,ai_usage_purpose,ai_dependency_score,...,concept_understanding_score,study_consistency_index,improvement_rate,sleep_hours,social_media_hours,tutoring_hours,class_participation_score,final_score,passed,performance_category
0,1,20,Female,1st Year,2.5,1,170,NaN,Exam Prep,10,...,4,9.0,8.1,7.2,1.5,4.6,6,36.8,0,Low
7,8,16,Male,3rd Year,5.5,0,174,ChatGPT,Homework,4,...,6,4.3,13.2,6.0,0.4,2.5,6,52.7,1,Medium
15,16,21,Male,11th,4.4,0,103,Gemini,Doubt Solving,6,...,7,8.8,-14.0,7.7,2.8,2.0,8,66.2,1,Medium
19,20,15,Male,10th,4.3,1,87,NaN,NaN,7,...,8,9.9,-9.4,5.5,4.0,3.8,8,61.2,1,Medium
20,21,21,Male,12th,5.9,1,151,ChatGPT+Gemini,Exam Prep,4,...,3,1.3,16.0,4.7,4.6,0.4,4,57.0,1,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7961,7962,18,Male,12th,4.3,1,146,ChatGPT+Gemini,Exam Prep,3,...,1,5.1,0.1,7.3,2.5,1.5,5,48.5,1,Low
7973,7974,23,Female,12th,5.4,0,88,NaN,NaN,9,...,9,7.0,3.6,5.8,1.1,3.6,10,86.8,1,High
7975,7976,22,Male,11th,3.9,1,174,Copilot,NaN,9,...,7,5.2,27.7,7.7,0.4,4.4,5,79.7,1,High
7979,7980,17,Male,10th,2.7,0,125,Copilot,Homework,7,...,10,6.1,4.8,4.5,0.6,2.8,8,60.1,1,Medium
7985,7986,20,Male,1st Year,2.7,1,36,NaN,Doubt Solving,5,...,3,8.9,27.2,8.6,3.8,0.0,10,67.2,1,Medium

In [ ]:
df['performance_category'].unique()
df.loc[df['performance_category']=='High']

,student_id,age,gender,grade_level,study_hours_per_day,uses_ai,ai_usage_time_minutes,ai_tools_used,ai_usage_purpose,ai_dependency_score,...,concept_understanding_score,study_consistency_index,improvement_rate,sleep_hours,social_media_hours,tutoring_hours,class_participation_score,final_score,passed,performance_category
5,6,20,Male,1st Year,5.1,1,34,Copilot,Coding,10,...,9,8.0,13.4,5.5,3.7,2.1,4,77.9,1,High
6,7,23,Female,1st Year,2.0,1,112,ChatGPT+Gemini,NaN,8,...,9,9.6,3.7,5.8,1.6,3.4,5,82.2,1,High
8,9,20,Female,10th,6.0,1,32,Copilot,NaN,9,...,9,7.8,18.8,5.4,1.6,4.2,4,81.7,1,High
17,18,19,Male,10th,3.5,1,95,Copilot,Doubt Solving,5,...,10,8.2,28.8,7.8,1.4,0.9,3,90.6,1,High
24,25,14,Male,10th,1.4,1,73,Claude,Exam Prep,6,...,10,8.7,-14.4,4.3,5.0,2.0,1,76.4,1,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7944,7945,16,Female,2nd Year,5.1,0,162,NaN,Coding,6,...,7,4.9,13.1,4.9,3.5,0.4,4,81.4,1,High
7973,7974,23,Female,12th,5.4,0,88,NaN,NaN,9,...,9,7.0,3.6,5.8,1.1,3.6,10,86.8,1,High
7975,7976,22,Male,11th,3.9,1,174,Copilot,NaN,9,...,7,5.2,27.7,7.7,0.4,4.4,5,79.7,1,High
7980,7981,22,Male,10th,4.9,1,42,Gemini,Doubt Solving,6,...,10,4.2,26.1,5.5,3.9,1.5,2,94.8,1,High
7987,7988,15,Male,12th,2.2,1,127,Copilot,Coding,2,...,8,1.3,-1.6,6.6,0.7,1.4,2,83.7,1,High

In [ ]:
df['uses_ai']
avg_study=df['study_hours_per_day'].mean()
avg_study
df.loc[(df['uses_ai']==1) &(df['study_hours_per_day']>avg_study)]

,student_id,age,gender,grade_level,study_hours_per_day,uses_ai,ai_usage_time_minutes,ai_tools_used,ai_usage_purpose,ai_dependency_score,...,concept_understanding_score,study_consistency_index,improvement_rate,sleep_hours,social_media_hours,tutoring_hours,class_participation_score,final_score,passed,performance_category
1,2,17,Male,12th,3.4,1,123,NaN,Notes,4,...,8,8.5,13.8,7.6,5.1,2.7,6,65.5,1,Medium
4,5,18,Other,3rd Year,3.5,1,21,ChatGPT+Gemini,Coding,2,...,5,5.4,2.7,8.7,0.2,2.9,2,49.7,1,Low
5,6,20,Male,1st Year,5.1,1,34,Copilot,Coding,10,...,9,8.0,13.4,5.5,3.7,2.1,4,77.9,1,High
8,9,20,Female,10th,6.0,1,32,Copilot,NaN,9,...,9,7.8,18.8,5.4,1.6,4.2,4,81.7,1,High
10,11,24,Female,10th,4.8,1,55,Copilot,Homework,9,...,6,4.8,23.9,8.5,1.3,2.5,8,54.3,1,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7986,7987,22,Male,1st Year,4.2,1,168,Copilot,Doubt Solving,5,...,9,6.3,31.3,7.5,1.7,3.9,8,63.2,1,Medium
7989,7990,22,Male,10th,5.0,1,92,Claude,Homework,8,...,5,5.0,23.2,6.9,3.7,0.2,7,43.9,1,Low
7990,7991,15,Male,11th,5.9,1,15,NaN,Doubt Solving,5,...,2,8.0,-9.6,5.4,1.9,3.3,8,31.7,0,Low
7992,7993,18,Female,3rd Year,3.4,1,164,NaN,Exam Prep,10,...,8,5.1,28.3,7.3,2.2,3.5,4,73.5,1,Medium
7994,7995,23,Male,11th,3.5,1,39,ChatGPT,Homework,4,...,5,2.1,32.4,5.1,3.6,4.3,2,39.8,0,Low

In [ ]:
df['attendance_percentage']
df['student_id']
df.loc[df['student_id']==105,'attendance_percentage']=95
df.loc[df['student_id']==105,'attendance_percentage']

104    95.0
Name: attendance_percentage, dtype: float64

In [ ]:
df.loc[df['student_id'] == 105,'performance_category']
df.loc[df['student_id'] == 105,'performance_category']='High'
df.loc[df['student_id'] == 105,'performance_category']

104    High
Name: performance_category, dtype: object

In [ ]:
df.iloc[::2]

,student_id,age,gender,grade_level,study_hours_per_day,uses_ai,ai_usage_time_minutes,ai_tools_used,ai_usage_purpose,ai_dependency_score,...,concept_understanding_score,study_consistency_index,improvement_rate,sleep_hours,social_media_hours,tutoring_hours,class_participation_score,final_score,passed,performance_category
0,1,20,Female,1st Year,2.5,1,170,NaN,Exam Prep,10,...,4,9.0,8.1,7.2,1.5,4.6,6,36.8,0,Low
2,3,24,Male,3rd Year,0.8,0,35,Copilot,Doubt Solving,8,...,7,2.1,39.1,5.7,0.2,4.0,3,66.3,1,Medium
4,5,18,Other,3rd Year,3.5,1,21,ChatGPT+Gemini,Coding,2,...,5,5.4,2.7,8.7,0.2,2.9,2,49.7,1,Low
6,7,23,Female,1st Year,2.0,1,112,ChatGPT+Gemini,NaN,8,...,9,9.6,3.7,5.8,1.6,3.4,5,82.2,1,High
8,9,20,Female,10th,6.0,1,32,Copilot,NaN,9,...,9,7.8,18.8,5.4,1.6,4.2,4,81.7,1,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7990,7991,15,Male,11th,5.9,1,15,NaN,Doubt Solving,5,...,2,8.0,-9.6,5.4,1.9,3.3,8,31.7,0,Low
7992,7993,18,Female,3rd Year,3.4,1,164,NaN,Exam Prep,10,...,8,5.1,28.3,7.3,2.2,3.5,4,73.5,1,Medium
7994,7995,23,Male,11th,3.5,1,39,ChatGPT,Homework,4,...,5,2.1,32.4,5.1,3.6,4.3,2,39.8,0,Low
7996,7997,21,Other,1st Year,3.3,0,63,Claude,Exam Prep,10,...,6,5.7,3.0,5.0,1.3,2.9,5,58.4,1,Medium
7998,7999,22,Female,2nd Year,5.5,0,21,Copilot,Coding,5,...,8,3.4,-19.1,4.7,5.9,0.4,7,49.2,1,Low

In [ ]:
df['performance_category']
avg_score=df.groupby('performance_category')['final_score'].mean()
avg_score

performance_category
High      80.671751
Low       41.540637
Medium    61.240030
Name: final_score, dtype: float64

In [ ]:
mean_att=df.groupby('uses_ai')['attendance_percentage'].mean()
mean_att

uses_ai
0    69.484958
1    70.063807
Name: attendance_percentage, dtype: float64

In [ ]:
df['performance_category'].value_counts()

performance_category
Medium    4704
Low       2542
High       754
Name: count, dtype: int64

In [ ]:
max_s=df.groupby('study_hours_per_day')['final_score'].max()
max_s

study_hours_per_day
0.5    86.8
0.6    90.9
0.7    95.8
0.8    90.2
0.9    88.6
1.0    88.4
1.1    86.2
1.2    92.5
1.3    88.2
1.4    91.5
1.5    93.4
1.6    92.9
1.7    93.0
1.8    89.4
1.9    84.9
2.0    89.6
2.1    94.4
2.2    90.1
2.3    88.3
2.4    90.0
2.5    87.2
2.6    93.0
2.7    90.9
2.8    84.8
2.9    86.9
3.0    88.7
3.1    83.4
3.2    90.7
3.3    85.3
3.4    91.4
3.5    92.1
3.6    93.1
3.7    88.2
3.8    83.7
3.9    86.3
4.0    92.0
4.1    93.5
4.2    83.6
4.3    93.2
4.4    87.9
4.5    85.9
4.6    87.1
4.7    94.3
4.8    91.3
4.9    94.8
5.0    94.1
5.1    89.7
5.2    88.6
5.3    90.4
5.4    92.8
5.5    82.4
5.6    90.7
5.7    91.5
5.8    89.5
5.9    85.5
6.0    88.9
Name: final_score, dtype: float64

In [ ]:
avg_hours=df.groupby('uses_ai')['study_hours_per_day'].mean()
avg_hours

uses_ai
0    3.307730
1    3.275293
Name: study_hours_per_day, dtype: float64

In [ ]:
avg_score.sort_values()

performance_category
Low       41.540637
Medium    61.240030
High      80.671751
Name: final_score, dtype: float64

In [ ]:
avg_scores = df.groupby('performance_category')['final_score'].mean().reset_index()
avg_scores

  performance_category  final_score
0                 High    80.671751
1                  Low    41.540637
2               Medium    61.240030

In [ ]:
mean_scores = df.groupby(['performance_category', 'uses_ai'])['final_score'].mean()
mean_scores

performance_category  uses_ai
High                  0          80.139785
                      1          80.984211
Low                   0          41.444711
                      1          41.594769
Medium                0          61.386814
                      1          61.158785
Name: final_score, dtype: float64

In [ ]:
df['performance_category'].value_counts()

performance_category
Medium    4704
Low       2542
High       754
Name: count, dtype: int64